In [1]:
import pandas as pd

In [2]:
diamonds = pd.read_csv('./train.csv', index_col=0)

In [3]:
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z   price
id
0    0.30      Ideal     F     SI1   61.4   55.0  4.31  4.34  2.65  630.99
1    0.41      Ideal     G     SI1   61.6   57.0  4.77  4.81  2.95  701.21
2    0.30  Very Good     H     SI1   62.2   60.0  4.24  4.28  2.65  604.26
3    1.04    Premium     F    VVS2   62.5   58.0  6.46  6.37  4.01  909.90
4    0.84       Fair     G     VS1   55.6   64.0  6.42  6.32  3.54  790.99

In [5]:
diamonds.cut.unique()

array(['Ideal', 'Very Good', 'Premium', 'Fair', 'Good'], dtype=object)

### Given that this characteristic can be replaced by numbers let's do that

In [9]:
diamonds['cut'] = diamonds['cut'].replace(['Fair','Good', 'Very Good', 'Ideal', 'Premium'],[1, 2, 3, 4, 5])

In [10]:
diamonds.head()

    carat  cut color clarity  depth  table     x     y     z   price
id
0    0.30    4     F     SI1   61.4   55.0  4.31  4.34  2.65  630.99
1    0.41    4     G     SI1   61.6   57.0  4.77  4.81  2.95  701.21
2    0.30    3     H     SI1   62.2   60.0  4.24  4.28  2.65  604.26
3    1.04    5     F    VVS2   62.5   58.0  6.46  6.37  4.01  909.90
4    0.84    1     G     VS1   55.6   64.0  6.42  6.32  3.54  790.99

### Also, I have looked up that for colors, the lower the grade scale the better, let's put that into numeric values also

In [12]:
diamonds.color.unique()

array(['F', 'G', 'H', 'J', 'I', 'E', 'D'], dtype=object)

In [13]:
diamonds['color'] = diamonds['color'].replace(['J','I', 'H', 'G', 'F', 'E', 'D'],[1, 2, 3, 4, 5, 6, 7])

In [14]:
diamonds.head()

    carat  cut  color clarity  depth  table     x     y     z   price
id
0    0.30    4      5     SI1   61.4   55.0  4.31  4.34  2.65  630.99
1    0.41    4      4     SI1   61.6   57.0  4.77  4.81  2.95  701.21
2    0.30    3      3     SI1   62.2   60.0  4.24  4.28  2.65  604.26
3    1.04    5      5    VVS2   62.5   58.0  6.46  6.37  4.01  909.90
4    0.84    1      4     VS1   55.6   64.0  6.42  6.32  3.54  790.99

In [15]:
diamonds.drop(['clarity'], axis=1, inplace=True)

### Model

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lreg = LinearRegression()

In [35]:
X = diamonds.drop('price', axis=1)

In [36]:
y = diamonds.price

In [37]:
lreg.fit(X,y)

LinearRegression()

### Predict test

In [38]:
test = pd.read_csv("./test.csv", index_col=0)

In [39]:
test.head()

    carat        cut color clarity  depth  table     x     y     z
id
0    0.70  Very Good     H     SI1   61.0   58.0  5.67  5.70  3.47
1    1.52      Ideal     H     VS2   61.8   54.0  7.42  7.43  4.59
2    1.03      Ideal     E     SI1   62.0   57.0  6.44  6.47  4.00
3    0.70  Very Good     G    VVS1   63.3   57.0  5.59  5.63  3.55
4    1.28      Ideal     H     SI1   62.4   56.0  6.93  6.91  4.32

In [40]:
test['cut'] = test['cut'].replace(['Fair','Good', 'Very Good', 'Ideal', 'Premium'],[1, 2, 3, 4, 5])

In [41]:
test['color'] = test['color'].replace(['J','I', 'H', 'G', 'F', 'E', 'D'],[1, 2, 3, 4, 5, 6, 7])

In [42]:
test.drop(['clarity'], axis=1, inplace=True)

In [43]:
y_pred = lreg.predict(test)

In [44]:
test["price"] = y_pred

In [45]:
test.head()

    carat  cut  color  depth  table     x     y     z       price
id
0    0.70    3      3   61.0   58.0  5.67  5.70  3.47  764.800922
1    1.52    4      3   61.8   54.0  7.42  7.43  4.59  923.700002
2    1.03    4      6   62.0   57.0  6.44  6.47  4.00  858.358679
3    0.70    3      4   63.3   57.0  5.59  5.63  3.55  770.807296
4    1.28    4      3   62.4   56.0  6.93  6.91  4.32  881.751874

### Submission

In [47]:
my_submission_1 = test["price"]

In [48]:
my_submission_1.to_csv(".AGB_my_submission_17_07_22h51.csv")