In [1]:
import pandas as pd

In [7]:
diamonds = pd.read_csv('./train.csv', index_col=0)

In [8]:
diamonds.head()

    carat        cut color clarity  depth  table     x     y     z   price
id
0    0.30      Ideal     F     SI1   61.4   55.0  4.31  4.34  2.65  630.99
1    0.41      Ideal     G     SI1   61.6   57.0  4.77  4.81  2.95  701.21
2    0.30  Very Good     H     SI1   62.2   60.0  4.24  4.28  2.65  604.26
3    1.04    Premium     F    VVS2   62.5   58.0  6.46  6.37  4.01  909.90
4    0.84       Fair     G     VS1   55.6   64.0  6.42  6.32  3.54  790.99

In [15]:
diamonds.drop(['cut', 'color', 'clarity'], axis=1, inplace=True)

### Model

In [16]:
from sklearn.linear_model import LinearRegression

In [17]:
lreg = LinearRegression()

In [18]:
X = diamonds.drop('price', axis=1)

In [19]:
y = diamonds.price

In [22]:
lreg.fit(X,y)

LinearRegression()

### Predict test

In [23]:
test = pd.read_csv("./test.csv", index_col=0)

In [24]:
test.head()

    carat        cut color clarity  depth  table     x     y     z
id
0    0.70  Very Good     H     SI1   61.0   58.0  5.67  5.70  3.47
1    1.52      Ideal     H     VS2   61.8   54.0  7.42  7.43  4.59
2    1.03      Ideal     E     SI1   62.0   57.0  6.44  6.47  4.00
3    0.70  Very Good     G    VVS1   63.3   57.0  5.59  5.63  3.55
4    1.28      Ideal     H     SI1   62.4   56.0  6.93  6.91  4.32

In [28]:
test.drop(['cut', 'color', 'clarity'], axis=1, inplace=True)

In [29]:
y_pred = lreg.predict(test)

In [31]:
test["price"] = y_pred

In [32]:
test.head()

    carat  depth  table     x     y     z       price
id
0    0.70   61.0   58.0  5.67  5.70  3.47  776.585469
1    1.52   61.8   54.0  7.42  7.43  4.59  927.721229
2    1.03   62.0   57.0  6.44  6.47  4.00  846.558217
3    0.70   63.3   57.0  5.59  5.63  3.55  774.674726
4    1.28   62.4   56.0  6.93  6.91  4.32  886.982903

### Submission

In [33]:
my_submission = test["price"]

In [34]:
my_submission.to_csv(".AGB_my_submission_16_07_17h55.csv")